{% extends "base.html" %}

{% block title %}All Employees{% endblock %}

{% block navbar_employees %}
    <li class="active"><a href="/employees">Employees</a></li>
{% endblock %}

{% block up_msg %}
  <div class="row">
    <div class="col-md-4">
      <h4>{{ len(data) }} Employees found</h4>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12 table-responsive">
      {% if block_add %}
        <table class="fixedtable fixedtable_columns_left-0 table table-striped table-hover sortable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Department</th>
              <th>Email</th>
              <th>Contract Type</th>
              <th>Registration Number</th>
            </tr>
          </thead>
          <tbody>
            {% for row in data %}
            <tr>
              <td><a href="employee_{{ row[0] }}">{{ showNone(row[1]) }}</a></td>
              <td>{{ showNone(row[2]) }}</td>
              <td>{{ showNone(row[3]) }}</td>
              <td>{{ showNone(row[4]) }}</td>
              <td>{{ showNone(row[5]) }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <table class=" fixedtable fixedtable_columns_left-0 table table-striped table-hover sortable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Hours</th>
              <th>Hours_available</th>
              <th>Department</th>
              <th>Email</th>
              <th>Contract Type</th>
              <th>Registration Number</th>
            </tr>
          </thead>
          <tbody>
            {% for row in data %}
            <tr>
              <td><a href="employee_{{ row[0] }}">{{ showNone(row[1]) }}</a></td>
              <td>{{ showNone(row[2]) }}</td>
              <td>{{ showNone(row[3]) }}</td>
              <td>{{ showNone(row[4]) }}</td>
              <td>{{ showNone(row[5]) }}</td>
              <td>{{ showNone(row[6]) }}</td>
              <td>{{ showNone(row[7]) }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="navbar_form navbar_left" role="search" method="post">
        <button type="submit" class="btn btn-default" name="user_action"  value="Refresh">Refresh</button>
          <button type="submit" class="btn btn-default" name="user_action" {% if block_add %} disabled="disabled" {% endif %} value="new-employee">New</button>
      </form>
    </div>
  </div>
{% endblock %}