{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block navbar_projects %}
  <li class="active"><a href="/projects">Projects & maintenance</a></li>
{% endblock %}

{% block up_msg %}
  <div class="row">
    <div class="col-md-4">
      <h4>{{ len(data_list) }} Projects found</h4>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12 table-responsive">
      <table id="main_table" class="fixedtable fixedtable_columns_left-0 table table-striped table-hover sortable TF">
        <thead>
          <tr>
            <th>Name</th>
            <th>Management</th>
            <th>Test Manager</th>
            <th>Project Code</th>
            <th>Priority</th>
            <th>Department</th>
            <th>Domain</th>
            <th>Date</th>
            <th>Active</th>
          </tr>
        </thead>
        <tbody>
          {% for row in data_list %}
          <tr>
            <td><a href="project_{{ row[0] }}">{{ showNone(row[1]) }}</a></td>
            <td>{{ showNone(row[2]) }}</td>
            <td>{{ showNone(row[3]) }}</td>
            <td>{{ showNone(row[4]) }}</td>
            <td>{{ showNone(row[5]) }}</td>
            <td>{{ showNone(row[6]) }}</td>
            <td>{{ showNone(row[7]) }}</td>
            <td>{{ showNone(row[8]) }}</td>
            <td>{{ showNone(row[9]) }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block result %}
  <div class="row">
    <div class="col-md-12">
    <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="navbar_form navbar_left" role="search" method="post">
          <button type="submit" class="btn btn-default" name="user_action" {% if block_add %}disabled="disabled" {% endif %} value="new">New</button>
      </form>
    </div>
  </div>
{% endblock %}